.detail {
  position: relative;
}
.detail .control-detail {
  margin-top: 1px;
  float: left;
}
.detail .control-label {
  float: left;
}
@media (min-width: 758px) {
  .detail .control-detail {
    margin-top: 8px;
  }
}
.list .item {
  clear: both;
  margin: 15px 0px;
}
.list .item .img {
  display: inline-block;
}
.list .item h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
}
.list .item img {
  vertical-align: initial;
}
.list .item p {
  margin: 10px 0 0 0;
}
.list .item p.signStatus {
  margin-top: 0px;
}
.list .item .content {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}
.list .item .view {
  display: block;
  float: right;
  width: 80px;
  margin-top: 30px;
}
